.banner {
    background: url('../img/splash.webp') center / cover fixed;
}

.banner > div {
    text-shadow: 2px 2px rgba(0,0,0,0.6);
}

.banner .lead {
    max-width: 65ch;
}

.btn-contents {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}